
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    img {
        border: 2px solid #18392B;
    }
</style>

<p>Данная программа была разработана для нужд предприятия ООО «Системная индустрия», 
    конкретно для отдела сырьевого снабжения.</p>
<p>Наверху расположена главная кнопочная форма.</p>
<p> <img width="780" height="40" src="@ViewBag.src1"></p>
<ol>
    <li><b>Товары</b><b>.</b></li>
</ol>
<p>По нажатию на кнопку товары генерируется список в виде таблицы товаров.</p>
<p> <img width="792" height="375" src="@ViewBag.src2"></p>
<p>Есть возможность отредактировать товар по цене и названию, а также добавить новый товар.
    Следует учесть, что для корректной работы программы была создана жесткая связь товар -&gt;
    контрагент, поэтому при добавлении нового товара нужно сначала внести в базу данных запись о контрагенте.</p>
<ol>
    <li><b>Контрагенты</b></li>
</ol>
<p>По нажатию на кнопку контрагенты генерируется список в виде таблицы контрагентов.</p>
<p> <img width="780" height="165" src="@ViewBag.src3"></p>
<p>Есть возможность редактирования данных о поставщике, а также функция добавление нового контрагента.</p>
<p> <img width="363" height="330" src="@ViewBag.src4"></p>
<ol>
    <li><b>Товарно транспортные накладные</b></li>
</ol>
<p>По нажатию на кнопку товарно транспортные накладные генерируется список в виде таблицы ттн.</p>
<p> <img width="779" height="270" src="@ViewBag.src5"></p>
<p>Пользователь может просмотреть содержание каждой накладной, а также распечать накладные операции расхода.</p>

<ol>
    <li><b>Операции</b></li>
</ol>
<p>По нажатию на кнопку Операции появляется выпадающий спискок из кнопок "Приход" и "Расход". Выбираем нужную операцию появляется следующее окно. </p>
<p> <img width="400" height="286" src="@ViewBag.src6"></p>
<p>Для продолжения необходимо ввести дату операции в формате «ДД.ММ.ГГГГ», номер товарно-транспортной накладной(далее ТТН) а также тип операции и контрагента. По нажатию кнопки «Создать» программа переносится на форму редактирование только что созданное ТТН:</p>
<p> <img width="780" height="177" src="@ViewBag.src7"></p>
<p>После нажатия на кнопку «Добавить новую запись в ТТН» появляется модальное окно</p>
<p> <img width="780" height="304" src="@ViewBag.src8"></p>
<p>В выпадающем списке «Наименование продукта» нужно выбрать продукт (из списка ранее внесённых продуктов в таблицу Товары), количество и нажать на кнопку «Добавить»</p>
<p>В нашем окне редактирование ТТН появится только что выполненная операция</p>
<p> <img width="780" height="145" src="@ViewBag.src9"></p>
<p>После внесение списка всего оприходованного товара следует нажать кнопку «Сохранить и выйти».</p>
<ol>
    <li><b>Сформировать заказ</b></li>
</ol>
<p>По нажатию на кнопку Сформировать заказ генерируется список всех поставщиков</p>
<p> <img width="699" height="119" src="@ViewBag.src10"></p>
<p>
    Напротив каждого поставщика имеется кнопка «Сформировать заказ» по нажатию на которую открывается форма в виде модального 
    окна с полями ввода дат. После выбора корректных дат
    формируется таблица с полями: Наименование, Приход, Продажи,
    Остатки для того чтобы менеджер по закупкам проанализировал эти данные и составил заказ по каждой позиции товара.
    Следует отметить что поле "Остатки" формируется вне контекста выбранных дат.
    <img width="780" height="237" src="@ViewBag.src11">
</p>
<ol>
    <li><b>Отчеты. </b></li>
</ol>
<p>По нажатию на кнопку отчеты появляется список отчетов с возможностью загрузки в формате excel.</p>
<p> <img width="265" height="122" src="@ViewBag.src12"></p>
<p> <img width="393" height="399" src="@ViewBag.src13"></p>


