@model  dipl0611.Models.operation


@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2></h2>

<button id="addRow" type="button" onClick="onClick()">Click me</button>


@using (Html.BeginForm("Create", "operations", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <input type="hidden" name="id_ttn" id="id_ttn" value="@ViewBag.idTTN" />

    <table id="example" class="display" style="width: 100%">
        <thead>
            <tr>
                <th scope="col">Наименование</th>
                <th scope="col">Количество</th>
                <th scope="col">&nbsp;</th>
            </tr>
        </thead>
        <tbody>





            @for (int i = 1; i < @ViewBag.countRow; i++)

            {
                <tr>
                    <td>
                        <div class="form-group">
                            @Html.LabelFor(model => model.id_product, "Наименование продукта", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("id_product", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.id_product, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            @Html.LabelFor(model => model.count, "Количество", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.count, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.id_product, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </td>
                    <td>&nbsp;</td>
                </tr>

            }



        </tbody>
    </table>
    <input name="sub" type="submit" value="SEND">
}


@section scripts
    {
    <script>
        var myJsVariable = '@ViewBag.idTTN';
        var clicks = 1;
        function onClick() {
            clicks += 1;
            document.getElementById("clicks").innerHTML = clicks;
        };
        $(document).ready(function() {
            var t = $('#example').DataTable();

            $('#addRow').on('click', function () {

                t.row.add(['<input id="id_product" name="id_product" type="text">', '<input id="count" name="count" type="text">',
                    '<input id="id_ttn" name="id_ttn" type="hidden" value="">']).node().id = clicks;
                t.draw(false);
                var row = document.getElementById(clicks).value;
                row.getElementsByName("id_ttn").value = myJsVariable;
            } );

            // Automatically add a first row of data
            $('#addRow').click();
        });


    </script>
}
