@model dipl0611.Models.operation

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>operation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.products.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.products.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TTN.nomer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TTN.nomer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.count)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.count)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
