@model dipl0611.Models.kontragents

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>kontragents</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telephone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kontact_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kontact_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kontact_telephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kontact_telephone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dogovor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dogovor)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
